<% include includes/header %>

<body>
    <% include includes/navigation_bar %>

    <div class="container">
        <div class="sub_container">
            <form method=post action="<%= url %>">
                <div class="field">
                    <label for="nom"> Nom </label>
                    <input type="text" name="name" id="nom" <% if (typeof(name) !== "undefined") { %> value="<%= name %>" <% } %>/>
                </div>
                <div class="field">
                    <label for="prenom"> Prénom </label>
                    <input type="text" name="firstname" id="prenom" <% if (typeof(firstname) !== "undefined") { %> value="<%= firstname %>" <% } %>/>
                </div>
                <div class="field">
                    <label for="username"> Pseudo </label>
                    <input type="text" name="username" id="username" <% if (typeof(username) !== "undefined") { %> value="<%= username %>" <% } %>/>
                </div>
                <div class="field">
                    <label for="password"> Mot de passe </label>
                    <input type="text" name="password" id="nom"/>
                </div>
                <div class="field">
                    <label for="email"> Email </label>
                    <input type="text" name="email" id="email" <% if (typeof(email) !== "undefined") { %> value="<%= email %>" <% } %>/>
                </div>
                <input type="submit" class="btn black middle" />
            </form>
        </div>
    </div>

<% include includes/footer %>
</body>
</html>



